<h1>About</h1>
<p>This application was developed as an opportunity to practice various aspects of Ruby on Rails programming.</p>
<p>Functionality currently implemented:</p>
<ul class="list-unstyled icon-list chevron-right">
	<li>Bootstrap UI</li>
	<li>PostgreSQL database</li>
	<li>Authentication</li>
	<li>Authorization</li>
	<li>User CRUD functionality</li>
	<li>Customer CRUD functionality</li>
</ul>
