<h1>Associations App</h1>
<p>This application was developed as an opportunity to practice various aspects of Ruby on Rails programming.</p>
<p>Functionality currently implemented:</p>
<ul class="list-unstyled icon-list chevron-right">
	<li>User CRUD</li>
	<li>Customer CRUD</li>
	<li>Authentication</li>
	<li>Authorization - User management only accessible by Admin role</li>
	<li>PostgreSQL database</li>
	<li>Bootstrap UI</li>
	<li>jQuery 'tablesorter' on Index views</li>
	<li>jQuery 'datepicker' on Order Add and Edit Views</li>
</ul>
<p>
  <% if signed_in? %>
  	<h3>Please select a menu option above.</h3>
  <% else %>
      <%= link_to "Sign In", signin_path, class: "btn btn-default"  %>
  <% end %>
</p>
