<h1>Contact</h1>
<p>Tim Coveney</p>
<p><%= link_to "tcemp@comcast.net", "mailto:tcemp@comcast.net" %></p>
<p><%= link_to "Application GitHub Repository", "https://github.com/UniquelySimilar/associations", target: "_blank" %></p>
