<h2>Developer Information</h2>
<div class="row">
	<div class="col-md-4">
		<div class="media contact">
			<%= link_to("https://github.com/UniquelySimilar", class: "pull-left") do %>
			  <%= image_tag("tim_cubicle.jpg", alt: "Tim Coveney", class: "media-object") %>
			<% end %>
			<div class="media-body">
				<ul class="list-unstyled">
					<li class="media-heading"><h3>Tim Coveney</h3></li>
					<li class="media-heading"><%= link_to "tcemp@comcast.net", "mailto:tcemp@comcast.net" %></li>
					<li>
						<%= link_to "Application GitHub Repository", "https://github.com/UniquelySimilar/associations", target: "_blank" %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
