@import "bootstrap";
@import "bootstrap/theme";

/* mixins */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* Site */
body {
   background: #F0F0F0;
}

.table tbody tr.head-row th {
   background: #C0C0C0;
}

.media.contact {
	border: 1px solid #D4D4D4;
	border-radius: 4px;
	background: #F8F8F8;
	box-shadow: 5px 5px 5px #888888;
}

/* Forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

#validation_error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

/* Lists */
.icon-list li {
	padding: 0 0 5px 20px;
	display: block;
	position: relative;
}

.icon-list li:before {
	font-family: 'Glyphicons Halflings';
	position: absolute;
	left: 0px;
	top:3px;
	font-size:80%
}

.chevron-right li:before {
	content: '\e080';
}

.checkmark li:before {
	content: '\e067';
}

.arrow-right li:before {
	content: '\e092';
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
